<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Cliente || AutoMarket</title>
    <link rel="stylesheet" href="../assets/css/master.css">
</head>

<body>
    <main class="dashboard concesionaria cliente">
        <header>
            <h2>Vehículos Disponibles</h2>
            
            <a href="index.html" class="close"></a>
        </header>

        <div class="contCards">
            
            <div class="card-vehiculo">
                <img src="../imgs/Touring.jpg" alt="">
                <div class="info-card">
                    <img src="../imgs/mazda.png" alt="">                    
                    <h2>Mazda - CX-5 Touring</h2>
                    <h2>$108.000.000</h2>
                    <p>Año: 2020 - 35.000 km</p>
                    <p class="direccion">Bogotá - Casa Toro</p>
                    <a href="ClientShowVehiculo.html">Ver Más</a>
                </div>
            </div>

            <div class="card-vehiculo">
                <img src="../imgs/Onix.jpg" alt="">
                <div class="info-card">
                    <img src="../imgs/Logo-Casa-Toro.jpg" alt="">                    
                    <h2>Mazda - CX-5 Touring</h2>
                    <h2>$108.000.000</h2>
                    <p>Año: 2020 - 35.000 km</p>
                    <p class="direccion">Bogotá</p>
                    <a href="ClientShowVehiculo.html">Ver Más</a>
                </div>
            </div>
            <div class="card-vehiculo">
                <img src="../imgs/corrolla.jpg" alt="">
                <div class="info-card">
                    <img src="../imgs/kia.jpg" alt=""> 
                    <h2>Mazda - CX-5 Touring</h2>
                    <h2>$108.000.000</h2>
                    <p>Año: 2020 - 35.000 km</p>
                    <p class="direccion">Bogotá</p>
                    <a href="ClientShowVehiculo.html">Ver Más</a>
                </div>
            </div>
            <div class="card-vehiculo">
                <img src="../imgs/Onix.jpg" alt="">
                <div class="info-card">
                    <img src="../imgs/mazda.png" alt=""> 
                    <h2>Mazda - CX-5 Touring</h2>
                    <h2>$108.000.000</h2>
                    <p>Año: 2020 - 35.000 km</p>
                    <p class="direccion">Bogotá</p>
                    <a href="ClientShowVehiculo.html">Ver Más</a>
                </div>
            </div>
            <div class="card-vehiculo">
                <img src="../imgs/Onix.jpg" alt="">
                <div class="info-card">
                    <h2>Mazda - CX-5 Touring</h2>
                    <h2>$108.000.000</h2>
                    <p>Año: 2020 - 35.000 km</p>
                    <p class="direccion">Bogotá</p>
                    <a href="ClientShowVehiculo.html">Ver Más</a>
                </div>
            </div>

            

        </div>

    </main>
</body>

</html>