<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Solicitud || AutoMarket</title>
    <link rel="stylesheet" href="../assets/css/master.css">
</head>

<body>
    <main class="show concesionaria dashboard">
        <header>
            <h2>Consultar Solicitud</h2>
            <a href="ConSolicitudes.html" class="back"></a>
            <a href="index.html" class="close"></a>
        </header>
        <figure class="photo-preview">
            <img src="../assets/imgs/sportage.jpg" alt="">
        </figure>
        <div class="cont-details">
            <div class="cont-veh">
                <h3 class="datos-c">DATOS VEHICULO</h3>
                <article class="info-name">
                    <div class="data">
                        <div class="title">Marca:</div>
                        <p>Kia</p>
                    </div>
                </article>

                <article class="info-name">
                    <div class="data">
                        <div class="title">Modelo:</div>
                        <p>Sportage EX</p>
                    </div>
                </article>

                <article class="info-name">
                    <div class="data">
                        <div class="title">Precio:</div>
                        <p> $ 88500000</p>
                    </div>
                </article>

                <article class="info-name">
                    <div class="data">
                        <div class="title">Año:</div>
                        <p>2019</p>
                    </div>
                </article>

                <article class="info-name">
                    <div class="data">
                        <div class="title">Ciudad:</div>
                        <p> 58.000 km</p>
                    </div>
                </article>

                
                <br>
                <hr>
                <br>
                <h3 class="datos-c">DATOS SOLICITUD</h3>
                 <article class="info-name">
                    <div class="data">
                        <div class="title">Cliente:</div>
                        <p>Nombre Usuario</p>
                    </div>
                </article>

                <article class="info-name">
                    <div class="data">
                        <div class="title">Correo:</div>
                        <p>user@gmail.com</p>
                    </div>
                </article>
                <article class="info-name">
                    <div class="data">
                        <div class="title">Fecha:</div>
                        <p>2023-05-05</p>
                    </div>
                </article>
                <article class="info-name">
                    <div class="data">
                        <div class="title">Hora:</div>
                        <p>10:00 AM</p>
                    </div>
                </article>

               

                
                <a href="#" class="aceptar-solicitud">ACEPTAR</a>
                <a href="#" class="rechazar-solicitud">RECHAZAR</a>
            </div>
            
            
        </div>

    </main>
</body>

</html>