<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Vehículos || AutoMarket</title>
    <link rel="stylesheet" href="../assets/css/master.css">
</head>

<body>
    <main class="dashboard concesionaria">
        <header>
            <h2>Gestionar Vehículos</h2>
            <a href="ConDashboard.html" class="back"></a>
            <a href="index.html" class="close"></a>
        </header>
        <a href="ConVehiculoAdd.html" class="btn-home adicionar">+ Agregar nuevo vehículo</a>
        <table>
            <tr>
                <td>
                    <figure class="photo">
                        <img src="../assets/imgs/sportage.jpg" alt="">
                    </figure>
                    <div class="info">
                        <h3>Kia Sportage EX</h3>
                        <h4>$88500000</h4>
                        <p>Bucaramanga - 58.000 km</p>
                    </div>
                    <div class="controls">
                        
                        <a href="ConVehiculoEdit.html" class="edit"></a>
                        <a href="#" class="delete"></a>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <figure class="photo">
                        <img src="../assets/imgs/Onix.jpg" alt="">
                    </figure>
                    <div class="info">
                        <h3>Chevrolet  Onix Turbo LTZ</h3>
                        <h4>$79000000</h4>
                        <p>Cali - 0 km</p>
                    </div>
                    <div class="controls">
                        
                        <a href="ConVehiculoEdit.html" class="edit"></a>
                        <a href="#" class="delete"></a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <figure class="photo">
                        <img src="../assets/imgs/Touring.jpg" alt="">
                    </figure>
                    <div class="info">
                        <h3>Mazda CX-5 Touring</h3>
                        <h4>$108000000</h4>
                        <p>Bogotá - 10000 km</p>
                    </div>
                    <div class="controls">
                        
                        <a href="ConVehiculoEdit.html" class="edit"></a>
                        <a href="#" class="delete"></a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <figure class="photo">
                        <img src="../assets/imgs/duster.jpg" alt="">
                    </figure>
                    <div class="info">
                        <h3>Renault Duster Zen</h3>
                        <h4>$87000000</h4>
                        <p>Medellín - 10000 km</p>
                    </div>
                    <div class="controls">
                        
                        <a href="ConVehiculoEdit.html" class="edit"></a>
                        <a href="#" class="delete"></a>
                    </div>
                </td>
            </tr>
        </table>
    </main>
</body>

</html>