<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home || AutoMarket</title>
    <link rel="stylesheet" href="../assets/css/master.css">
</head>

<body>
    <main class="login" id="home">
        
        <div class="cont-new">
            <img src="../imgs/logo.png" class="logo" alt="">
            <p>Compra o vende tu vehículo de forma <br> fácil y segura en AutoMarket.</p>
            <a class="btn-home" href="register.html">Registrarme</a>
            <a class="btn-home" href="login.html">Iniciar Sesión</a>
        </div>
    </main>
</body>

</html>