<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login || AutoMarket</title>
    <link rel="stylesheet" href="../assets/css/master.css">
</head>
<body>
    <main class="login log" id="home">
        <div class="cont-new-lg">
            <a href="index.html"><img src="../imgs/logo.png" class="logo" alt=""></a>
            <h2>INICIAR SESIÓN</h2>
            <p>Selecciona tu rol, e ingresa tu correo electrónico y contraseña.</p>
            <form action="../controllers/iniciarSesion.php" method="post">
                <div class="select">
                <select required name="rol">
                     <option value="" disabled selected hidden>Seleccione Rol</option>
                    <option value="1">Cliente</option>
                    <option value="2">Concesionaria</option>
                </select>
            </div>
                <input type="email" name="email" placeholder="Correo Electrónico">
                <input type="password" name="clave" placeholder="Contraseña">
                <button type="submit">Ingresar</button>
            </form>
        </div>
        
    </main>
</body>
</html>